# Node
node_modules/
npm-debug.log
yarn-error.log

# Metro
metro-cache/

# Jest
coverage/

# Android
android/build/
android/app/build/
android/.gradle/
android/app/.cxx/
*.apk
*.aab
*.keystore
android/local.properties

# iOS
ios/build/
ios/Pods/
*.xcworkspace
# We want to keep the project definition, but not user-specific settings
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcodeproj/xcuserdata/

# macOS
.DS_Store

# Editor-specific
.idea/
.vscode/

# Other
*.log
error*.txt